
# PROJECT
data/db/
node_modules/
public/dev/bower_components/
public/dev/scripts/app/**/*.js
public/dev/scripts/app/**/*.js.map
public/dev/styles/*.css
public/prod/
temp/
*.log



# IDE
/.idea
*.iml



# Operating system
.DS_Store
