
# PROJECT
data/db/
node_modules/
public/dev/bower_components/
public/dev/scripts/stock-machine/**/*.js
public/dev/scripts/stock-machine/**/*.js.map
public/dev/styles/*.css
public/prod/
temp/



# IDE
/.idea
*.iml



# Operating system
.DS_Store
