<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Stock Machine</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/styles.min.css">
    <!-- endinject -->
</head>
<body>

    {% block body %}{% endblock %}

    <!-- inject:js -->
    <script src="scripts/scripts.min.js"></script>
    <!-- endinject -->
</body>
</html>
