
<div>
    <h1>Stock Database</h1>

    <div class="clearfix" style="min-height:55px; margin-bottom:2em;">
        <div class="pull-left form-inline">
            <div class="form-group">
                <label>Show: </label>
                <select
                    class="form-control"
                    ng-model="$ctrl.searchFor.limit"
                    ng-options="o as o for o in $ctrl.options.limit.options"
                    ng-change="$ctrl.doSearch()"
                ></select>
            </div>
        </div>
        <div class="pull-right text-right" ng-if="$ctrl.data.state==='LOADED'">
            <ul uib-pagination
                ng-model="$ctrl.searchFor.pageNum"
                ng-change="$ctrl.doPaginate()"

                items-per-page="$ctrl.searchFor.limit"
                total-items="$ctrl.data.count"
                max-size="$ctrl.options.paginate.maxSize"

                boundary-links="true"
                first-text="l<"
                previous-text="<<"
                next-text=">>"
                last-text=">l"
                style="margin:0;"
            ></ul>
            <div>{{$ctrl.data.showingXofY}}</div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th ng-click="$ctrl.doSort('symbol')">
                    <span class="fa {{$ctrl.getSortClass('symbol')}}"></span>
                    Symbol
                </th>
                <th ng-click="$ctrl.doSort('name')">
                    <span class="fa {{$ctrl.getSortClass('name')}}"></span>
                    Name
                </th>
                <th ng-click="$ctrl.doSort('nums.currentStockPrice')">
                    <span class="fa {{$ctrl.getSortClass('nums.currentStockPrice')}}"></span>
                    Current Price
                </th>
                <th ng-click="$ctrl.doSort('calcs.percentageDiscount')">
                    <span class="fa {{$ctrl.getSortClass('calcs.percentageDiscount')}}"></span>
                    Percentage Discount
                </th>
                <th ng-click="$ctrl.doSort('nums.roic.numbers.average')">
                    <span class="fa {{$ctrl.getSortClass('nums.roic.numbers.average')}}"></span>
                    ROIC
                </th>
                <th ng-click="$ctrl.doSort('nums.bvps.growths.average')">
                    <span class="fa {{$ctrl.getSortClass('nums.bvps.growths.average')}}"></span>
                    BVPS
                </th>
                <th ng-click="$ctrl.doSort('nums.sales.growths.average')">
                    <span class="fa {{$ctrl.getSortClass('nums.sales.growths.average')}}"></span>
                    Sales
                </th>
                <th ng-click="$ctrl.doSort('nums.eps.growths.average')">
                    <span class="fa {{$ctrl.getSortClass('nums.eps.growths.average')}}"></span>
                    EPS
                </th>
                <th ng-click="$ctrl.doSort('nums.cashFlow.growths.average')">
                    <span class="fa {{$ctrl.getSortClass('nums.cashFlow.growths.average')}}"></span>
                    Cash Flow
                </th>
                <th ng-click="$ctrl.doSort('stockMarket')">
                    <span class="fa {{$ctrl.getSortClass('stockMarket')}}"></span>
                    Stock Market
                </th>
            </tr>
            <tr>
                <th>
                    <input ng-model="$ctrl.searchFor.cols.symbol" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                    <th>
                        <input ng-model="$ctrl.searchFor.cols.name" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                    </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.currentStockPrice']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['calcs.percentageDiscount']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.roic.numbers.average']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.bvps.growths.average']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.sales.growths.average']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.eps.growths.average']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols['nums.cashFlow.growths.average']" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input ng-model="$ctrl.searchFor.cols.stockMarket" xng-enter="$ctrl.doSearch()" placeholder="" class="input-sm form-control" type="search"/>
                </th>
            </tr>
        </thead>
        <tbody ng-if="$ctrl.data.state==='LOADED'">
            <tr ng-repeat="stockObj in $ctrl.data.rows">
                <td>{{stockObj.symbol}}</td>
                <td>{{stockObj.name}}</td>
                <td>{{stockObj.nums.currentStockPrice}}</td>
                <td>{{stockObj.calcs.percentageDiscount}}</td>
                <td>{{stockObj.nums.roic.numbers.average}}</td>
                <td>{{stockObj.nums.bvps.growths.average}}</td>
                <td>{{stockObj.nums.sales.growths.average}}</td>
                <td>{{stockObj.nums.eps.growths.average}}</td>
                <td>{{stockObj.nums.cashFlow.growths.average}}</td>
                <td>{{stockObj.stockMarket}}</td>
            </tr>
        </tbody>
    </table>

    <!-- error -->
    <div class="alert alert-danger" ng-if="$ctrl.data.state==='ERROR'">
        {{$ctrl.data.error}}
    </div>

    <!-- loading -->
    <div ng-if="$ctrl.data.state==='LOADING'" class="text-center" style="padding: 100px;">
        <i class="fa fa-refresh fa-spin fa-lg"></i>
    </div>

</div>