
<div>
    <h1>Stock Database</h1>

    <dt-pagination></dt-pagination>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th dt-sort="symbol">Symbol</th>
                <th dt-sort="name">Name</th>
                <th dt-sort="nums.currentStockPrice">Current Price</th>
                <th dt-sort="calcs.percentageDiscount">Percentage Discount</th>
                <th dt-sort="nums.roic.numbers.average">ROIC</th>
                <th dt-sort="nums.bvps.growths.average">BVPS</th>
                <th dt-sort="nums.sales.growths.average">Sales</th>
                <th dt-sort="nums.eps.growths.average">EPS</th>
                <th dt-sort="nums.cashFlow.growths.average">Cash Flow</th>
                <th dt-sort="stockMarket">Stock Market</th>
            </tr>
            <tr>
                <th dt-filter="symbol"></th>
                <th dt-filter="name"></th>
                <th dt-filter="nums.currentStockPrice"></th>
                <th dt-filter="calcs.percentageDiscount"></th>
                <th dt-filter="nums.roic.numbers.average"></th>
                <th dt-filter="nums.bvps.growths.average"></th>
                <th dt-filter="nums.sales.growths.average"></th>
                <th dt-filter="nums.eps.growths.average"></th>
                <th dt-filter="nums.cashFlow.growths.average"></th>
                <th dt-filter="stockMarket"></th>
            </tr>
        </thead>
        <tbody ng-if="$ctrl.DtServ.data.state==='LOADED'">
            <tr ng-repeat="stockObj in $ctrl.DtServ.data.rows">
                <td>{{stockObj.symbol}}</td>
                <td>{{stockObj.name}}</td>
                <td>{{stockObj.nums.currentStockPrice}}</td>
                <td>{{stockObj.calcs.percentageDiscount}}</td>
                <td>{{stockObj.nums.roic.numbers.average}}</td>
                <td>{{stockObj.nums.bvps.growths.average}}</td>
                <td>{{stockObj.nums.sales.growths.average}}</td>
                <td>{{stockObj.nums.eps.growths.average}}</td>
                <td>{{stockObj.nums.cashFlow.growths.average}}</td>
                <td>{{stockObj.stockMarket}}</td>
            </tr>
        </tbody>
    </table>

    <!-- error -->
    <div class="alert alert-danger" ng-if="$ctrl.DtServ.data.state==='ERROR'">
        {{$ctrl.DtServ.data.error}}
    </div>

    <!-- loading -->
    <div ng-if="$ctrl.DtServ.data.state==='LOADING'" class="text-center" style="padding: 100px;">
        <i class="fa fa-refresh fa-spin fa-lg"></i>
    </div>

    <dt-pagination></dt-pagination>

</div>